accelerate>=0.34.0
bitsandbytes==0.45.1
datasets==4.0.0 #3.2.0
deepspeed>=0.15.0 # Linux/CUDA only -- does not build on native Windows
fairscale==0.4.13
# fastapi==0.115.8
fire==0.7.0
huggingface_hub==0.34.4
python-dotenv
modal==1.5.1
numpy==2.1.2
omegaconf==2.3.0
pydantic==2.10.6
pynvml==12.0.0
PyYAML==6.0.2
sentencepiece==0.2.0
setuptools==75.8.0
structlog==25.1.0
torch==2.8.0
tqdm==4.67.1
triton==3.4.0
wandb==0.19.5
transformers==4.55.0
safetensors==0.4.5
psutil
GPUtil
lmdb==1.7.3
boto3>=1.34.0